* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-clr: #fff;
    --black-clr: #000;
    --light-black: #333;
    --primary-clr: #0fa6ab;
    --secondary-clr: #eee;
    --tag-clr: #7cc576;
}

.wrap {
    flex-wrap: wrap;
}

/* nav section */

header {
    background: var(--white-clr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 5px 14.25px .75px rgba(36, 11, 12, .05)
}

.navbar {
    display: flex;
    align-items: center;
    height: 12vh;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: var(--light-black);
    border-bottom: 2px solid var(--tag-clr);
    border-radius: 50%;
}

span {
    color: var(--primary-clr);
}

.logo:hover {
    transform: scale(.9);
}

.navlist {
    display: flex;
    align-items: center;
    gap: 2.8rem;
}

.link {
    font-size: 20px;
    color: var(--light-black);
    font-weight: 500;
}

.link:hover,
.link:active {
    color: var(--primary-clr);
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.icon {
    font-size: 20px;
    color: var(--light-black);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.icon:hover,
.icon:active {
    color: var(--primary-clr);
    background: var(--secondary-clr);
}

.hamburger {
    font-size: 20px;
    color: var(--primary-clr);
    display: none;
}

/* home section */

.home {
    height: 115vh;
    background-image: url(assets/hero-image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
    text-shadow: 1px 1px .5px;
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--primary-clr);
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}

button {
    font-weight: 600;
    font-size: .9rem;
    padding: 0.8rem 2.2rem;
    cursor: pointer;
    color: var(--black-clr);
    background-color: var(--primary-clr);
    border-radius: 24px;
}

button:hover {
    background: linear-gradient(var(--primary-clr), #fff);
}

/* collection section */

.section {
    padding-top: 2rem;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .9rem;
    max-width: 90%;
    margin: auto;
}

.category:nth-child(1),
.category:nth-child(4) {
    grid-row: 1 / 3;
}

.category:nth-child(2) {
    grid-row: 1 / 2;
}

.category {
    position: relative;
    overflow: hidden;
}

.category:hover img {
    transform: scale(1.1);
}

.category button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    background-color: var(--tag-clr);
    color: var(--black-clr);
    border-radius: 6px;
    z-index: 3;
}

.category button:hover {
    background: linear-gradient(var(--tag-clr), #fff);
}

.category::before {
    content: "";
    position: absolute;
    background: var(--white-clr);
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: 2;
    transition: all .3s ease-in-out;
}

.category:hover::before {
    width: 100%;
}

/* page-section */

h2 {
    font-size: 35px;
    line-height: 4rem;
    color: var(--light-black);
    font-weight: 500;
    text-align: center;
}

.line {
    background: var(--tag-clr);
    width: 90px;
    height: 2.5px;
    box-shadow: 1px 1px 3px;
    margin: auto;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}

.container {
    max-width: 85%;
    margin: auto;
}

.card {
    border-right: 1px solid #efefef;
    flex: 1;
    padding-bottom: 3.1rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, .15);
    z-index: 3;
}

.card-content {
    padding: 0 3rem;
}

.title {
    font-size: 16px;
    color: var(--light-black);
    line-height: 1.7rem;
    font-weight: 500;
}

.price {
    margin-top: 1rem;
}

del {
    text-decoration: line-through;
    color: #c5c5c5;
}

.amount {
    font-size: 1.1rem;
    font-weight: 600;
}

.add-to-cart {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.card:hover .add-to-cart {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.sale::before {
    content: 'Sale';
    position: absolute;
    top: 20px;
    left: 20px;
    padding: .2rem 1.3rem;
    color: var(--light-black);
    background-color: rgb(255, 62, 62);
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    cursor: pointer;
}

.new::before {
    content: 'New';
    position: absolute;
    top: 20px;
    left: 20px;
    padding: .2rem 1.3rem;
    color: var(--light-black);
    background-color: var(--tag-clr);
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    cursor: pointer;
}

.sale-container {
    padding-block: 5rem;
    text-align: center;
    background-image: url(assets/sale-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sale-container h3 {
    font-weight: 200;
    font-size: 1.56rem;
    text-transform: uppercase;
    line-height: 1.6rem;
}

.sale-container h1 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.5rem;
}

.sale-container .line {
    width: 15%;
    background: #c5c5c5;
}

.sale-container h4 {
    font-size: 1.2rem;
    color: #6e6e6e;
    line-height: 3.5rem;
}

/* blog section */

.container {
    max-width: 90%;
    margin: auto;
}

.secondary-bg {
    background-color: var(--secondary-clr);
    padding-block: 2.2rem;
}

.flex {
    display: flex;
    align-items: center;
}

.box {
    flex: 1;
    text-align: center;
    margin-block: 1rem;
    flex-basis: 200px;
}

.box .fa-solid {
    font-size: 1.5rem;
    color: var(--primary-clr);
}

h5 a {
    font-size: 1.1rem;
    color: var(--light-black);
    font-weight: 500;
    line-height: 2.2rem;
}

.des {
    color: var(--tag-clr);
    font-size: 1rem;
    font-weight: 400;
}

.blog-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

.blog-box {
    flex: 1;
    position: relative;
}

.blog-box::before {
    content: "";
    position: absolute;
    background: rgba(0 0, 0, .8);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 3;
    transition: all 0.3s ease-in-out;
}

.blog-box:hover::before {
    width: 100%;
}

.blog-content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 4;
    padding-inline: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.heading {
    font-size: 1.7rem;
    line-height: 4rem;
    font-weight: 500;
}

.blog-content * {
    color: var(--secondary-clr);
}

.blog-link {
    font-size: .9rem;
    font-weight: 600;
    line-height: 5rem;
    color: var(--primary-clr);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-transform: uppercase;
}

.blog-box:hover .blog-content {
    opacity: 1;
    visibility: visible;
    left: 50%;
}

/* contact section */

form {
    gap: 3rem;
}

form h3 {
    font-size: 1.4rem;
}

.input-container {
    flex: 1;
    align-items: stretch;
}

#email {
    border: none;
    flex: 1;
    font-size: 1rem;
    padding-left: 1.1rem;
}

#email:focus {
    outline: none;
}

.social-icons {
    gap: 1.2rem;
    justify-content: flex-end;
}

.media {
    font-size: 1.2rem;
    color: var(--light-black);
}

.footer-container {
    padding-bottom: 3rem;
}

.footer-list {
    flex: 1;
    padding-block: 1rem;
}

.footer-link {
    font-size: .9rem;
    font-weight: 500;
    color: var(--light-black);
    line-height: 2.25rem;
}

.footer-logo {
    margin-bottom: 1rem;
}

.detail {
    font-size: .95rem;
    line-height: 1.75rem;
    color: #6e6e6e;
}

.footer-bottom {
    padding-block: .85rem;
    text-align: center;
    color: #6e6e6e;
    border-top: .065rem solid #ebebeb;
    font-size: .9rem;
}

/* responsive */

@media screen and (max-width:700px) {
    .navlist {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--black-clr);
        padding: 2rem;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }

    .navlist-active {
        transform: translateY(20%);
    }

    .navlist a {
        color: var(--secondary-clr);
    }

    .nav-icons a {
        color: var(--primary-clr);
    }

    .hamburger {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .hero {
        height: 50vh;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    h1 {
        font-size: 2.2rem;
        line-height: 4rem;
    }

    h4 {
        font-size: 1rem;
        line-height: 2rem;
    }

    .category-container {
        grid-template-columns: 1fr;
    }

    .category:nth-child(1),
    .category:nth-child(2),
    .category:nth-child(4) {
        grid-row: auto;
    }

    .card-container {
        display: grid;
    }

    .blog-container {
        display: grid;
    }


}